// First Color Scheme
$white: #FFF;
$platinum: #e8ebe4;
$gray: #bec1bb;

// Second Color Scheme
$blue-bell: #a491d2;
$soap: #cdc3e6;
$pale-lavender: #d4dcff;

// Third Color Scheme
$dark-jungle: #1b1f21;
$outer-space: #444749;
$old-silver: #828485;

// Font family
$roboto: "Roboto", sans-serif;
$open-sans: "Open Sans", sans-serif;

// Font weight
$regular: 400;
$bold: 700;

// Font sizes
$large: 2.8125rem;
$medium: 1rem;
$small: 0.875rem;
$x-small: 0.625rem;